.menu-btn .btn-portfolio {
    color: #5FB4A2;
}

.todo-h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: rgba(51, 50, 61, 1);;

    padding-bottom: 28px;
}

.todo-p{
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: rgba(51, 50, 61, 1);;
    mix-blend-mode: normal;
    opacity: 0.8;

    padding-bottom: 54px;
}

.todo-a{
    text-decoration: none;

    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(51, 50, 61, 1);;

    padding: 17px 38px;

    border: 1px solid rgba(51, 50, 61, 1);;
    box-sizing: border-box;
}

.linha{
    background: rgba(51, 50, 61, 0.5);
    mix-blend-mode: normal;

    width: 350px;
    height: 1px;
}

.linha-um{
    margin-bottom: 103px;
}

.linha-dois{
    margin-top: 133px;
}

.img{
    width: 540px;
    height: 500px;
    background: rgb(255, 210, 230);
}

.container-um{
    display: flex;
    max-width: 1015px;
    max-height: 500px;
    margin-bottom: 80px;
}

.filho-um{
    display: flex;
}

.manage{
    padding-left: 125px;
}



.container-dois{
    display: flex;
    max-width: 1015px;
    max-height: 500px;
    margin-bottom: 80px;
}

.filho-dois{
    display: flex;
}

.bookmark{
    padding-right: 125px;
}



.container-tres{
    display: flex;
    max-width: 1015px;
    max-height: 500px;
    margin-bottom: 80px;
}

.filho-tres{
    display: flex;
}

.insure{
    padding-left: 125px;
}



.container-quatro{
    display: flex;
    max-width: 1015px;
    max-height: 500px;
    margin-bottom: 150px;
}

.filho-quatro{
    display: flex;
}

.fylo{
    padding-right: 125px;
}
